@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-color: #add8e6;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 350px;
}

.search-box {
    height: 45px;
    width: 100%;
    background: white;
    border-radius: 7px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.search-box i {
    color: grey;
    font-size: 14px;
}

.search-box input {
    all: unset;
    height: 45px;
    width: 100%;
    padding-left: 10px;
    font-size: 14px;
}

.info-box {
    background-color: white;
    margin-top: 5px;
    border-radius: 7px;
    overflow: hidden;
    padding: 10px;
}

.color-box {
    height: 330px;
    width: 330px;
    border-radius: 100%;
    background: orange;
    margin-top: -180px;
    margin-left: -25px;
}

.info-box img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -40px;
    height: 150px;
    width: 150px;
}

.pokemon-id {
    padding: 4px;
    width: 60px;
    position: absolute;
    top: 85px;
    right: 35px;
    color: black;
    background-color: white;
    text-align: center;
    border-radius: 30px;
    font-size: 14px;
}

.pokemon-name {
    text-align: center;
    margin-top: 55px;
    font-weight: 600;
    font-size: 25px;
    text-transform: capitalize;
}

.pokemon-types{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 17px;
    height: 40px;
}

.types-style {
    padding: 5px 13px 5px 13px;
    border-radius: 30px;
    width: 200px;
    text-align: center;
    color: white;
    margin-left: 25px;
    position: relative;
    top: 10px;
    left: -15px;
    font-size: 14px;
}

.pokemon-stats {
    height: 150px;
    margin-top: 50px;
}

.stat-elem {
    height: 65px;
    width: 70px;
    margin-left: 25px;
    margin-top: 0;
    float: left;
    position: relative;
    left: -15px;
    display: flex;
    justify-content: center;
}

.stat-name {
    margin-top: 35px;
    color: grey;
    font-size: 14px;
}

.stat-value {
    position: absolute;
    margin-top: 10px;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 600;;
}

.stat-elem:nth-child(4) .stat-name, 
.stat-elem:nth-child(5) .stat-name {
    font-size: 12px;
    text-align: center;
}

/* CREDITS TO DEREKTYPIST FOR COLORS */

.normal {
    background-color: #b7b7aa;
}

.fire {
    background-color: #ff6f52; 
}

.water {
    background-color: #42a1ff;
}

.electric {
    background-color: #fecc33;
}

.grass {
    background-color: #78cc55;
}

.ice {
    background-color: #66ccfe;
}

.fighting {
    background-color: #d3887e;
}

.poison {
    background-color: #c68bb7;
}

.ground {
    background-color: #dfba52;
}

.flying {
    background-color: #8899ff;
}

.psychic {
    background-color: #ff66a3;
}

.bug {
    background-color: #aabb23;
}

.rock {
    background-color: #baaa66;
}

.ghost {
    background-color: #9995d0;
}

.dragon {
    background-color: #b59682;
}

.steel {
    background-color: #abaabb;
}

.fairy {
    background-color: #ed99ed;
}